@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: gold;
  --hover-main-color: rgb(244, 207, 0);
  --black-color: black;
  --white-color: white;
  --heading1: 56px;
  --heading2: 48px;
  --heading3: 36px;
  --heading4: 32px;
  --heading5: 24px;
  --heading6: 20px;
  --large: 18px;
  --medium: 16px;
  --small: 14px;
  --legend: 12px;
  --google-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: var(--google-font);
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--black-color);
  color: white;
}

.p-title {
  font-size: var(--heading4);
}

.p-second-title {
  font-size: var(--heading3);
}

a {
  color: white;
}

.ass-kick {
  font-weight: 600;
  z-index: 1;
  text-align: center;
}

body {
  background-color: var(--main-color);
  height: 100%;
  width: 100%;
}

main {
  position: relative;
}

.kick-img {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.5;
  z-index: -1;
}

form {
  background-color: rgba(255, 255, 255, 0.77);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 30px;
}

.label-up {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 5px;
}

.checkbox {
  height: 20px;
  width: 20px;
  margin: 0 10px;
}

input {
  height: 40px;
  padding-left: 10px;
  font-size: larger;
  border-radius: 10px;
  border: solid 2px var(--black-color);
}

.submit-container {
  display: flex;
  justify-content: center;
}

.submit-btn {
  background-color: var(--main-color);
  color: var(--black-color);
  border: none;
  height: 40px;
  width: 200px;
  font-size: var(--large);
  margin-top: 15px;
}

.submit-btn:hover {
  background-color: var(--hover-main-color);
  color: var(--black-color);
  border: none;
  height: 40px;
  width: 200px;
  font-size: var(--large);
  margin-top: 15px;
}

.between {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

footer {
  height: 100px;
  width: 100vw;
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .btn {
  font-family: var(--google-font);
  color: white;
  font-size: var(--heading3);
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(240, 255, 255, 0);
  border: none;
  transition: all 0.5s;
}
footer .btn:hover {
  font-family: var(--google-font);
  color: white;
  font-size: var(--heading3);
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 50px;
}

.nav-menu ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px;
}

.nav-menu ul li {
  display: inline-block;
  transition: all 0.8s;
}

.nav-menu ul li:hover {
  display: inline-block;
  background-color: var(--main-color);
  border-radius: 100%;
  padding: 5px;
}

.nav-menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  height: 60px;
  width: 60px;
}
.nav-menu ul li a:hover {
  color: var(--black-color);
}

@media screen and (max-width: 900px) {
  .kick-img {
    height: 100%;
  }
}
